<html>
  <head>
    <title>Conditional Rendering</title>
  </head>
  <body>
    <div id="formEvent">
      <!-- Does/does not render element altogether -->
      <form v-if="awesome">
        <input v-model="query" type="search" placeholder="search..." />
        <button type="button" v-on:click="executeSearch">Search</button>
      </form>
      <!-- Sets the CSS display property -->
      <div v-show="show">
        <h1>
          I am showing this
        </h1>
        <h2>
         And this
        </h2>
      </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/vue"></script>

    <script type="text/javascript">
      var formEvent = new Vue({
        el: "#formEvent",
        data: { query: "", awesome: false, show:false },
        methods: {
          executeSearch: function () {
            alert(this.query);
          },
        },
      });
    </script>
  </body>
</html>
